body {
    font-family: "Helvetica";
    background-color: #fff;
    margin: 1em;
}

code {
    font-family: "Monaco";
    font-size: 85%;
}

pre {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 0.5em;
}

h1 {
	font-size:1.6em;
}

h2 {
	font-size:1.5em;
}

h3 {
	font-size:1.4em;
}

h4 {
	font-size:1.3em;
}

h5 {
	font-size:1.2em;
}

h6 {
	font-size:1.1em;
}
